<kirby-card [hasPadding]="true" variant="outlined">
  <h3>Value</h3>
  <pre>{{ form().value | json }}</pre>

  <h3>Status</h3>
  <table>
    <tr>
      <th>Control</th>
      <th>Status</th>
      <th>Dirty</th>
      <th>Touched</th>
      <th>Enabled</th>
      <th>Pristine</th>
      <th>Value</th>
      <th>Errors</th>
    </tr>
    @for (item of dataSourceFlat; track item.name) {
      <tr>
        <td [style.padding-left]="item.level + 'em'">{{ item.name }}</td>
        <td>{{ item.item.status !== 'VALID' ? item.item.status : '' }}</td>
        <ng-container *ngTemplateOutlet="checkmark; context: {value: item.item.dirty}"></ng-container>
        <ng-container *ngTemplateOutlet="checkmark; context: {value: item.item.touched}"></ng-container>
        <ng-container *ngTemplateOutlet="checkmarkOrCross; context: {value: item.item.enabled}"></ng-container>
        <ng-container *ngTemplateOutlet="checkmark; context: {value: item.item.pristine}"></ng-container>
        @if (item.showValue && item.item.value) {
          <td>{{ item.item.value | json }}</td>
        } @else {
          <td></td>
        }
        <td>{{ item.item.errors ? (item.item.errors | json) : '' }}</td>

      </tr>
    }
  </table>

  <ng-content></ng-content>
</kirby-card>

<ng-template #checkmark let-value="value">
  <td>
    @if (!!value) {
      <kirby-icon name="checkmark-selected"></kirby-icon>
    }
  </td>
</ng-template>

<ng-template #checkmarkOrCross let-value="value">
  <td>
    @if (!!value) {
      <kirby-icon name="checkmark-selected"></kirby-icon>
    } @else {
      <kirby-icon name="close"></kirby-icon>
    }
  </td>
</ng-template>
